.tongsanpham {
    transition: 0.5s all ease;
    cursor: pointer;
}
.tongsanpham:hover {
    transform: translateY(-10px);
}

main .recent-order .a{
    text-align: start;
    display:contents;
    color: green;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

.search-box input[type="text"] {
    width: 85%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.search-box button {
    width: 100;
    padding: 7px 7px;
    background-color:orange;
    color:aliceblue;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.text-muted {
    border-radius: 1rem;
    background-color: #fff;
    padding: .3rem .5rem .3rem .5rem;
    font-weight: 500;
}

.text-muted a {
    padding: 1rem .5rem 1rem .5rem;
    color: red;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

.search-box input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.search-box button {
    width: 100;
    padding: 7px 7px;
    background-color:orange;
    color:aliceblue;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}


.img {
    background-color: #ddd;
}

.right .item.online h3 a span{
transition: all .5s ease;

}

.right .item.online h3 a:hover span{
color:  #f97e0e;
margin-top: 5px;
}

.right .item.online .h3 {
margin-top: 10px;
}

.info a:hover span{
color:  #f97e0e;
}

     
/* -------------------- adress form --------------- */

.adress-form {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}

.adress-form-content {
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
}

.adress-form-content form {
    padding: 12px 40px;
}

.adress-form-content h2 {
    font-size: 16px;
    padding: 12px 0;
    border-bottom: 1px solid #333;
    position: relative;
}

.adress-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}

.adress-form-content form p {
    font-size: 16px;
}


.adress-form-content form button {
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: #f97e0e;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
}

 /* Customize the label (the container) */
 .containerr {
    margin-top: 8px;
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}


    /* Hide the browser's default radio button */
    .containerr input {
        margin-top: 8px;   
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }

    /* Create a custom radio button */
    .checkmark {

    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color:bisque;
    border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .containerr:hover input ~ .checkmark {
    background-color:#f97e0e;
    }

    /* When the radio button is checked, add a blue background */
    .containerr input:checked ~ .checkmark {
    background-color: #2196F3;
    }
    .containerr input:disabled ~ .checkmark {
    background-color:darkgray;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .containerr input:checked ~ .checkmark:after {
    display: block;
    }

    /* Style the indicator (dot/circle) */
    .containerr .checkmark:after {
        
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    }

    