@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');
:root{
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #0b0c0c;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant: #677483;
    --color-background: #b8dbd7;
    
    --color-yellow:rgb(255, 255, 3);
    
   

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow:0 2rem 3rem var(--color-light);
}
#adress-form a h3{
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    color: var(--color-primary);
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    transition: .5s all ease;
}

#adress-form a:hover h3{
    color: var(--color-white);
}

#adress-form a{
    margin-top: -100px;
    margin-left: -120px;
    margin-right: -90px;
    margin-bottom: -100px;
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 100px;
    padding-bottom: 25px;
}
.chitiet a{
    /* font-weight: bold; */
    transition: 1s all ease;
}

.chitiet a:hover{
    color: red;
    font-size: 14px;
}

.recent-order tbody tr td:nth-child(2){
    cursor: pointer;
    color: rgb(221, 94, 94);
    transition: .5s all ease;
}

.recent-order tbody tr td:nth-child(2):hover {
    color: rgb(221, 50, 50);
    font-size: 14px;
}

.icon img {
    width:30px;
    height: 30px;
    padding: -20px -20px;
    border-radius: 50%;
    transition: .5s all ease;
}

.icon img:hover {
    transform: translateY(-3px); 
}

.button {
    background: none;
    cursor: pointer;
    font-size: 15px;
}
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant:#a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-info-dark:#edeffd;
}
*{
    margin:0;
    padding:0;
    outline:0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{font-size: 14px;}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins,sans-serif;
    font-size: 0.88rem;
    background:var(--color-background);
    /* background: #FFCCCC; */
    user-select: none;
    overflow-x: hidden;
    color:var(--color-dark);

}

.container{
    display: grid;
    width: 96%;
    margin:0 auto;
    gap:1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{color:var(--color-dark)}
img{display:block;width: 100%;}
h1{font-weight: 800;font-size: 1.8rem;}
h2{font-size: 1.4rem;}
h3{font-size: 0.87rem;}
h4{font-size: 0.8rem;}
h5{font-size: 0.77rem;}

small{font-size: 0.75rem;}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius:50% ;
    overflow: hidden;
}
.text-muted{color: var(--color-info-dark);}
.text-logo{color:var(--color-dark)}
p{
color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{color: var(--color-primary);}
.danger{color: var(--color-danger);}
.success{color: var(--color-success);}
.warning{color: var(--color-warning);}
.sphone{color:var(--color-yellow);}

aside{
    height: 100vh;
    
}
aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    border-radius: 2rem;
}
aside .logo{
    display: flex;
    gap:0.8rem
    
}

aside .logo img{
    width:10rem;
    margin-left: 20px;
    margin-top: 5px;
    /* height: 2rem; */
    /* border-radius: 50%; */
}

aside .close{
    display: none;
}
/*SIDEBAR*/

aside .sidebar{
    
    display:flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top:3rem;
}

aside h3{font-weight: 500;}

aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap:1rem;
    align-items: center;
    position:relative;
    height: 3.5rem;
    transition: all 300ms ease;
}

aside .sidebar a:hover {
    color: #FF6600;
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
background: var(--color-yellow);
margin-left: 0;
width: 0.3rem;
height: 3.7rem;
}
aside .sidebar a.active span{
    
    margin-left: calc(1rem - 3px);
    
}

aside .sidebar a:hover{  
    content: '';
    margin-left: 0;
}

aside .sidebar a:hover span{
    
    margin-left: 1rem;
    margin-left: calc(1rem - 3px);}
aside .sidebar .message-count{
    background: rgb(241, 241, 30);
    color:black;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

 /*MAIN*/     
main{
    margin-top: 1.4rem;
}
main .date{
    display:inline-block;
    /* background: var(--color-light); */
    background: #d2d6f7;
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    margin-bottom: 5px;
}

main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;}

main .insights >div{
    background:var(--color-white) ;
    padding:var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights >div:hover{
    box-shadow: none;
}
main .insights >div span{
    background:var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color:var(--color-white);
    font-size: 2rem;
}
main .insights >div.expenses span{
    background:var(--color-danger); ;}
main .insights >div.income span{
    background:var(--color-success); ;}
main .insights >div .middle{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height:92px;
    border-radius: 50%;
}

main .insights svg{
    width: 7rem;
    height: 7rem;
}

main .insights svg circle{
    fill:none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle{
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
} 
main .insights .expenses svg circle{
    stroke-dashoffset: 150;
    stroke-dasharray: 200;
} 
main .insights .income svg circle{
    stroke-dashoffset:-30;
    stroke-dasharray: 200;
} 

main .insights .progress .number{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

main .insights small{
    margin-top: 1.6rem;
    display:block
}

main .recent-order{
    margin-top:2rem ;
}
main .recent-order h2{
margin-bottom: 0.8rem;}

main .recent-order table{
background: var(--color-white);
width: 100%;
border-radius:var(--card-border-radius) ;
padding :var(--card-padding);
text-align: center;
box-shadow: var(--box-shadow);
transition: all 300ms ease;
}

main .recent-order table:hover{
box-shadow: none;}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);}

main table tbody tr:last-child td{
    border: none;}

main .recent-order a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color :var(--color-primary);
    }

.right{
margin-top: 1.4rem;

}

.right .top{
display: flex;
justify-content: end;
gap: 2rem;
}

.right .top button{
display: none;}

.right .theme-logger{
background: var(--color-light);
display: flex;
justify-content: space-between;
align-items: center;
height: 1.6rem;
width: 4.2rem;
cursor: pointer;
border-radius: var(--border-radius-1);}

.right .theme-logger span{
font-size: 1.2rem;
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;}

.right .theme-logger span.active{
    background: var(--color-primary);
    color:white;
    border-radius: var(--border-radius-1);
}
.right .top .profile{
    display: flex;
    gap:2rem;
    text-align: right;
}

.right .recent-updates{
    margin-top: 1rem;   
}
.right .recent-updates h2{
    margin-bottom: 0.8rem;
}
.right .recent-updates .updates{
background: var(--color-white);
padding:var(--card-padding);
box-shadow: var(--box-shadow);
border-radius: var(--card-border-radius);
transition:all 300ms ease;}

.right .recent-updates .updates:hover{
box-shadow: none;
}
.right .recent-updates .updates .update{
display: grid;
grid-template-columns: 2.6rem auto;
gap:1rem;
margin:1rem;}

.right .sales-analytics{
    margin-top: 2rem;;
}
.right .sales-analytics h2{
margin-bottom: 0.8rem;}

.right .sales-analytics .item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow:var(--box-shadow) ;
    transition: all 300ms ease;
}
.right .sales-analytics  .item:hover{
box-shadow: none;}

.right .sales-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon{
    /* padding: 0.6rem; */
    text-align: center;
    padding: 0.4rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item.offline .icon{
    background:var(--color-danger);
}

.right .sales-analytics .item.customers .icon{
    background:var(--color-success);
}
.right .sales-analytics .add-product{
background-color: transparent;
border: 2px dashed var(--color-primary);
color: var(--color-primary);
display: flex;
align-items: center;
justify-content: center;
}

.right .sales-analytics .add-product:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

.right .sales-analytics .add-product div{
/* display: flex; */
align-items: center;
gap: 0.6rem;
}
.right .sales-analytics .add-product div h3{
    font-weight: 600;
}

.right .item.offline {
    cursor: pointer;
 
}

.right .item.offline h3 a {
    transition: 0.5s all ease;
}

.right .item.customers {
    cursor: pointer;
}

.right .item.customers h3 a {
    transition: 0.5s all ease;
}

.right .item.online {
    cursor: pointer;
}

.right .item.online h3 a {
    transition: 0.5s all ease;
}

.right .item.offline h3 a:hover {
    color: #ff0000;
}

.right .item.customers h3 a:hover {
    color: green;
}

.right .item.online h3 a:hover {
    color: #001eff;
}


@media screen and (max-width: 1200px){
   .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
    display:none;}

    aside .sidebar h3{
    display: none;}

    aside .sidebar a{
    width: 5.6rem;}

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights{ 
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-order{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
    }

    main .recent-order table{
    width: 83vw;
    }
    main table thead tr th:last-child,
    main table thead tr th:first-child{
         display: none;}
    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;}

}
@media screen and (max-width: 768px){
   .container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index:3;
        box-shadow:  1rem 3rem 4rem var(--color-light);
        height:100vh;
        padding-right:var(--card-padding) ;
        display: none;
        animation: showMenu 500ms ease forwards;
    }

    @keyframes showMenu{
        to{
            left: 0;
        }  
    }
    
    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
    width: 100%;
    height: 3.4rem;}

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;    

    }
    aside .close{
        display: inline-block;
        cursor: pointer;
    } 
    aside .logo{
        margin-left: 1rem;
    }  
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .recent-order{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .recent-order table {
        width: 100%;
        margin:0;
    }
    .right{
        width:94%;
        margin:0 auto 4rem;
    }
    .right .top{
        position: fixed;
        top:0;
        left: 0;
        align-items: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin:0;
        z-index: 2;
        box-sizing: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-logger{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info{
        display: none;
    }
    .right .top button{
        display: inline-block;
        background: transparent;
        cursor:pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
        font-size: 2rem;
    }

    .right .top button span{
        font-size: 2rem;
    }



}

.recent-order tbody tr td:nth-child(9) a{
    /* font-weight: bold; */
    transition: 1s all ease;
}

.recent-order tbody tr td:nth-child(9) a:hover{
    color: red;
    font-size: 14px;
}

.recent-order tbody tr td:nth-child(2){
    cursor: pointer;
    color: rgb(221, 94, 94);
    transition: .5s all ease;
}

.recent-order tbody tr td:nth-child(2):hover {
    color: rgb(221, 50, 50);
    font-size: 14px;
}

.icon img {
    width:30px;
    height: 30px;
    padding: -20px -20px;
    border-radius: 50%;
    transition: .5s all ease;
}

.icon img:hover {
    transform: translateY(-3px); 
}

#adress-form a h3{
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    color: var(--color-primary);
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    transition: .5s all ease;
}

#adress-form a:hover h3{
    color: var(--color-white);
}

#adress-form h3{
    color: var(--color-white);
}

#adress-form a{
    margin-top: -100px;
    margin-left: -120px;
    margin-right: -90px;
    margin-bottom: -100px;
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 100px;
    padding-bottom: 25px;
}
.chitiet a{
    /* font-weight: bold; */
    transition: 1s all ease;
}

.chitiet a:hover{
    color: red;
    font-size: 14px;
}

.recent-order tbody tr td:nth-child(2){
    cursor: pointer;
    color: rgb(221, 94, 94);
    transition: .5s all ease;
}

.recent-order tbody tr td:nth-child(2):hover {
    color: rgb(221, 50, 50);
    font-size: 14px;
}

.icon img {
    width:30px;
    height: 30px;
    padding: -20px -20px;
    border-radius: 50%;
    transition: .5s all ease;
}

.icon img:hover {
    transform: translateY(-3px); 
}

.button {
    background: none;
    cursor: pointer;
    font-size: 15px;
}

.right .sales-analytics .add-product:hover #adress-form a h3{
    /* background: var(--color-primary); */
    color: var(--color-white);
}

